:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 980px) {
    #rec370728660 .t228 {
        position: fixed !important;
        background-color: none !important;
    }
}